In [1]:
import re
import pandas as pd

df = pd.read_csv('../../assets/immoweb_test.csv')

def extract_missing(df, tag):
    new_df = df[df[tag].isna()]
    new_df.to_csv(f'../../assets/df_{tag.lower()}_missing.csv')
def find_type(url):
    try:
        return re.match("https://www\.immoweb\.be/en/classified/(.*)/for-sale/", url).group(1)
    except AttributeError as e:
        return re.match("https://www\.immoweb\.be/en/classified/(.)*/for-sale/", url)
def find_zipcode(url):
    re_pattern = '[a-z]\/([0-9]{4})\/[0-9]'
    try:
        return re.match('[a-z]\/([0-9]{4})\/[0-9]', url).group(1)
    except AttributeError as e:
        print(e)
        return re.match(re_pattern, url)

print(find_type('https://www.immoweb.be/en/classified/apartment-block/for-sale/aalst/9300/8992291'))

apartment-block

In [2]:
import re

def find_zipcode(url):
    re_pattern = '[a-z]\/([0-9]{4})\/[0-9]'
    try:
        return re.match('[a-z]\/([0-9]{4})\/[0-9]', url).group(1)
    except AttributeError as e:
        print(e)
        return re.match(re_pattern, url)

print(find_zipcode('https://www.immoweb.be/en/classified/apartment-block/for-sale/aalst/9300/8992291'))

'NoneType' object has no attribute 'group'
None

In [3]:
df_copy = df
df_copy['url'] = df_copy['url'].apply(find_type)
df_copy.rename(columns ={'url': 'main_type'})

,main_type,Available as of,Available date,Construction year,Floor,Number of floors,Building condition,Street frontage width,Number of frontages,Surroundings type,...,Latest land use designation,Neighbourhood or locality,Outdoor parking spaces,Virtual visit,Office surface,Office,Intercom,Total ground floor buildable,Cadastral income,Garden surface
0,apartment,After signing the deed,May 15 2023 - 12:00 AM,1954.0,5.0,6.0,Good,32 m,3.0,Isolated,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,loft,NaN,NaN,2010.0,4.0,NaN,Good,NaN,2.0,NaN,...,"Living area (residential, urban or rural)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,apartment,Depending on the tenant,December 1 2022 - 12:00 AM,2010.0,2.0,2.0,Good,35 m,4.0,Urban,...,"Living area (residential, urban or rural)",Liège environs,1.0,Link to the virtual visit,6 m² square meters,Yes,Yes,527 m² square meters,€ 736 736 €,NaN
3,apartment,After signing the deed,May 15 2023 - 12:00 AM,1954.0,5.0,6.0,Good,32 m,3.0,Isolated,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,apartment,After signing the deed,August 24 2023 - 12:00 AM,2005.0,1.0,3.0,Good,12 m,2.0,Isolated,...,"Living area (residential, urban or rural)",Oupeye,1.0,Link to the virtual visit,8 m² square meters,Yes,Yes,189 m² square meters,"€ 1,000 1000 €",200 m² square meters
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13259,house,NaN,NaN,1971.0,NaN,NaN,Just renovated,6 m,2.0,NaN,...,"Living area (residential, urban or rural)",NaN,NaN,NaN,NaN,Yes,No,NaN,€ 974 974 €,NaN
13260,house,NaN,NaN,1976.0,NaN,NaN,NaN,NaN,4.0,NaN,...,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,"€ 1,628 1628 €",NaN
13261,house,After signing the deed,NaN,NaN,NaN,NaN,Good,NaN,2.0,NaN,...,"Living area (residential, urban or rural)",NaN,NaN,NaN,NaN,No,NaN,NaN,€ 210 210 €,NaN
13262,house,After signing the deed,NaN,NaN,NaN,NaN,Good,10 m,2.0,Urban,...,"Living area (residential, urban or rural)",NaN,1.0,Link to the virtual visit,5 m² square meters,Yes,NaN,91 m² square meters,€ 503 503 €,425 m² square meters
13263,house,After signing the deed,NaN,1978.0,NaN,NaN,Good,NaN,3.0,NaN,...,"Living area (residential, urban or rural)",NaN,1.0,NaN,NaN,NaN,NaN,200 m² square meters,€ 919 919 €,130 m² square meters

In [4]:
df['building_type'] = df['url'].agg()

ValueError: No objects to concatenate

In [ ]:
df['Price'].isna().sum()

df_price_cleared = df.dropna(subset=['Price'])

In [ ]:

df_price_missing = df[df['Price'].isna()]
df_price_missing.to_csv('../../assets/df_price_missing.csv')

In [ ]:
extract_missing(df, 'Price')

In [ ]:
extract_missing(df, 'Address')

In [39]:
import pandas as pd

df = pd.read_csv("../../assets/test.csv")

df['Terrace'] = df['Terrace'].replace('Yes', 1).fillna(0)
df['Terrace surface'] = df['Terrace surface'].str.extract(r"([0-9]{1,3})").astype(float)
df[['Terrace', 'Terrace surface']].sum(axis=1, skipna=False).fillna(0)

0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
        ...
9021    40.0
9022     0.0
9023     0.0
9024    44.0
9025     0.0
Length: 9026, dtype: float64

In [38]:
df[['Terrace', 'Terrace surface']].dtypes

Terrace            float64
Terrace surface    float64
dtype: object

In [26]:
df['Terrace surface'].astype(int).unique()

array([  0,  16,  12,  14,  10,   2,  72, 108,   6,   4,  15,  11,   5,
        32, 120,  50,  55,   8,  13,  30,  20,  40,   7,  28,   9,  33,
        21,  22,  24, 100,  25,  70,   3,  60,  38,  26, 195,  68,  43,
        27,  91,  76,  29,  45, 150,  18,  19, 326,  87,  53,  35,  86,
         1,  44,  36,  17, 122,  67, 237,  54,  51,  65,  90,  23,  56,
        92,  48,  34,  62,  31,  57,  42,  64, 250, 200,  80, 396,  95,
        85, 166,  37,  58,  81,  75,  46, 135, 144, 175,  39,  66, 140,
        47,  96, 253, 196, 104, 584,  49,  52,  59,  41,  82,  77,  93,
       142, 110, 130,  97, 124, 180, 147, 105, 335, 139, 230, 134, 123,
       213, 115,  74,  79,  89, 161, 160,  61,  73, 151,  69, 171, 127,
        94, 185, 275, 235, 240, 111,  78, 300, 210, 103, 169,  71, 707,
       225, 143, 101,  83, 167, 297, 136,  84, 170, 112, 159, 273, 434,
       117, 495, 102, 116])